<?xml version="1.0" encoding="UTF-8"?>
<widget xmlns		= "http://www.w3.org/ns/widgets"
	xmlns:gap	= "http://phonegap.com/ns/1.0"
	id		= "com.chrome.app.[number starting from 1 - will go up each time a request is made]"
	version 	= "1.0.0">

	<name>[This should be taken from webpage title or give the user the option to enter their own title]</name>

	<description>
		Created with the Chrome App Maker Extension. [or allow the user to enter their own]
	</description>

	<author href="http://www.chromeappmaker.com"
		email="apps@chromeappmaker.com">
		Chrome App Maker
	</author>

	<gap:platforms>
		<gap:platform name="android" minVersion="2.1" />
		<gap:platform name="webos" />
		<gap:platform name="symbian.wrt" />
		<gap:platform name="blackberry" project="widgets"/>
	</gap:platforms>

	<icon src="icon.png" gap:role="default" />

	<feature name="http://api.phonegap.com/1.0/geolocation"/>
	<feature name="http://api.phonegap.com/1.0/network"/>

	<!-- sample preference specification -->
	<!-- <preference name="autorotate" value="false" readonly="true"/> -->
</widget>
